<p class="page-title">
  Sign In
</p>

<%= form_tag(sessions_path, method: :post, class: 'signin', autocomplete: 'off') do %>
  <%= text_field_tag :username_or_email, nil, placeholder: 'username of email' %>
  <%= password_field_tag :password, nil, placeholder: 'password' %>

  <%= submit_tag "Sign in", class: 'button' %>
<% end %>