<p class="page-title">
  Pair Sessions
</p>

<div class="users-sessions" ng-app="letspair" ng-controller="PairsessionsAllCtrl">
  <div class="calendar-container">
    <calendar daychange='loadDaySessions()'></calendar>
    <div class="cloud">Select a date and see people with open pair programming sessions</div>
  </div>

  <ul class="sessions">
    <li class="session-full" ng-repeat="session in sessions">
      <pairsessionall session='session'></pairsessionall>
      <div class="separator-white"></div>
    </li>
</div>