<p class="page-title">
  Pair Sessions
</p>

<div class="users-sessions" ng-app="letspair" ng-controller="UsersSessionsCtrl">
  <div class="calendar-container">
    <calendar daychange='loadDaySessions()'></calendar>
    <div class="cloud">Select a date and see people with open pair programming sessions</div>
  </div>

  <ul class="sessions">
    <li class="session-full" ng-repeat="session in sessions">
      <div class="avatar">
        <%= image_tag "test_avatar.jpg" %>
      </div>
      <pairsessioncontact session='session' showAvatar='showAvatar'></pairsessioncontact>
      <div class="button">
        <a href="#" class="contact"><%= image_tag "button_contact.png" %></a>
      </div>
    </li>
</div>