<p class="page-title">
  Edit your pairsessions
</p>

<div class="edit-user-sessions" ng-app="letspair" ng-controller="UserEditSessionsCtrl">
  <div class="calendar-container">
    <calendar daychange='loadDaySessions()'></calendar>
    <div class="cloud">Select a date and create or edit your pairsessions</div>
    <input type="button" class="button" value="Create" ng-click="switchToCreateMode(true)">
  </div>

  <ul class="sessions">
    <li class="session-edit" ng-show="createSessionMode">
      <ng-include src="'<%= asset_path 'new_pair_session.html' %>'"></ng-include>
    </li>

    <div class="separator-white" ng-show="createSessionMode"></div>

    <li class="session-view" ng-repeat="session in sessions">
      <pairsession session='session' deleteSession='deleteSession(session)' saveChanges='saveChanges(session)'></pairsession>
      <div class="separator-white"></div>
    </li>

  </ul>
</div>