<p class="page-title">
  Edit your pairsessions
</p>

<div class="edit-user-sessions" ng-app="letspair" ng-controller="PairsessionsEditCtrl">
  <input class="user-id" type="hidden" ng-init='userId=<%= current_user.id %>'/>
  
  <div class="calendar-container">
    <calendar daychange='loadDaySessions()' userid='<%= current_user.id %>'></calendar>
    <div class="cloud">Select a date and create or edit your pairsessions</div>
    <input type="button" class="button" value="Create" ng-show="!createSessionMode" ng-click="switchToCreateMode(true)">
  </div>

  <ul class="sessions">
    <li class="session-edit" ng-show="createSessionMode">
      <ng-include src="'<%= asset_path 'new_pair_session.html' %>'"></ng-include>
    </li>

    <div class="separator-white" ng-show="createSessionMode"></div>

    <div class="no-session" ng-show="sessions.length == 0 && !createSessionMode">no sessions</div>
    <li class="session-view" ng-repeat="session in sessions">
      <pairsessionedit session='session' deleteSession='deleteSession(session)' saveChanges='saveChanges(session)'></pairsessionedit>
      <div class="separator-white"></div>
    </li>

  </ul>
</div>