<div class="welcome-header">
  <div class="welcome-logo">
    <%= image_tag "logo.png" %>
  </div>

  <div class='github-banner'>
    <a href="https://github.com/spkenny/letspair">Available on github</a>
  </div>

  <blockquote>
    Wow. This #pairwithme thing @avdi started is
    really deepening the sense of community I feel.
    That’s pretty amazing.
    <cite>@everydaytype</cite>
  </blockquote>
  
  <ul class="welcome-buttons"></ul>
</div>
<div class="separator"></div>

<ul class="latest-events" ng-app="letspair" ng-controller="WelcomeCtrl">
  <li class="session-full" ng-repeat="event in events | orderBy:'created_at':'reverse'">
    <lastevent opensContactForm event="event"></lastevent>
    <div ng-class="{true: 'separator-white', false: 'separator'}[$index >= 1]"></div>
  </li>
</ul>