//---common mixins----
@mixin font-trebuchet($size) {
  font-family: "Trebuchet MS";
  font-size: $size;
}

@mixin ul-no-style {
  list-style-type: none;  
}

@mixin inline-li {
  li {
    display: inline;
    padding-left: 10px;
  }
}
//---common variables---
$avatar-side-size: 80px;
$avatar-radius: 40px;

$background-color: #dadbdd;
$menu-font-color: #444444;
$light-blue: #1992c5;
$super-light-blue: #c3deea;
$light-grey: #8d8d8d;

$small-font: 11px;
$medium-font: 13px;

$input-text-color: #666;
$input-width: 200px;
$input-background-position: 215px;

$calendar-container-color: #e3e3e5;
$calendar-container-height: 260px;

//---fonts---
@font-face {
  font-family: 'letspair';
  src: url('letspair.eot');
  src: url('letspair.eot?#iefix') format('embedded-opentype'),
       url('letspair.woff') format('woff'),
       url('letspair.ttf') format('truetype'),
       url('letspair.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}

[class*="icon-"] {
  font-family: 'letspair';
  font-style: normal;
  font-size: 2em;
  speak: none;
  text-decoration: none;
}

.icon-envelop:after {
  content: "\e001"
}

.icon-clock:after {
  content: "\e002"
}

//---common css---
body {
  font-family: "Trebuchet MS";
  line-height: 18px;

  background-color: $background-color;
  background-image: image-url('bkg.png');
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  text-decoration: underline;
  color: $menu-font-color;

  &:hover {
    color: $light-blue;
    text-decoration: none;
  }
}

input[type=text], input[type=email], input[type=password] {
  font-size: $medium-font;
  border: 1px solid $background-color;
  border-radius: 2px;
  color: $input-text-color;
  width: $input-width;
  outline: none;
  padding: 12px 35px 12px 10px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

textarea {
  font-size: $medium-font;
  border: 1px solid $background-color;
  border-radius: 2px;
  color: $input-text-color;
  width: 170px;
  outline: none;
  padding: 12px 35px 12px 10px;
}

.calendar_list {
  display: none;
}

.div_dates {
  background: white 0 100% !important;
}

#calendar {
  min-height: 260px;
}

.separator {
  clear: both;
  height: 1px;
  background: $background-color;
  background: -webkit-gradient(
    linear, 0 0, 100% 0, from($background-color), to($background-color), color-stop(50%, $background-color));
}

.separator-white {
  clear: both;
  height: 1px;
  background: $background-color;
  background: -webkit-gradient(
    linear, 0 0, 100% 0, from($background-color), to($background-color), color-stop(50%, white));
}

.avatar img {
  width: $avatar-side-size;
  height: $avatar-side-size;
  
  -webkit-border-radius: $avatar-radius; /* Saf3+, Chrome */
  border-radius: $avatar-radius; /* Opera 10.5, IE 9 */
}

.highlighted-text {
  text-transform: uppercase;
  color: $light-blue;
  background: $super-light-blue;
  
  padding-left: 5px;
  font-size: $medium-font;
  display: inline;
  float: left;
  padding-right: 5px;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.page-title {
  text-transform: uppercase;
}

.title {
  text-transform: uppercase;
}

form .button {
  background-image: image-url('button_small.png');
  width: 90px;
  height: 40px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-size: $small-font;
  color: white;
}

//---sessions styles----
.session {
  overflow: hidden;
  margin: 20px 0 20px 0;

  .information {
    float: left;
    width: 600px;

    .brief-information {
      font-size: $medium-font;
    }

    .bottom-info-label {
      width: 400px;
      font-size: $small-font;
      color: $light-grey;
      float: left;
    }

    .when {
      span {
        font-size: 1em;
      }

      color: $light-grey;
      font-size: $small-font;
      float: left;
    }

    .name {
      @include font-trebuchet(15px);

      color: $light-blue;

      span {
        color: $light-grey;
        font-size: $small-font;
      }
    }
  }
}

.session-with-contact {
  @extend .session;

  .button {
    float: right;
    margin: 20px 100px 0 0;
  }
}

.session-with-avatar {
  @extend .session;

  .avatar {
    float: left;
    margin-top: 12px;
  }

  .information {
    margin-left: 30px;
  }
}

.session-full {
    @extend .session-with-avatar;
    @extend .session-with-contact;

    overflow: hidden;

    .information {
      .title {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }