@import "common";

.parent-wrapper {
  min-height: 100%;
  position: relative;
}

.wrapper {
  height: 100%;
  width: 960px;
  margin: 0 auto;

  padding-bottom: 200px;
}

.header {
  .main-menu {
    @include font-trebuchet(13px);
    @include ul-no-style;
    @include inline-li;

    float: right;
  }

  overflow: hidden;
  padding-top: 10px;
}

.system-info .panel {
  width: 940px;
  background-color: $light-blue;
  color: white;
  font-size: $medium-font;
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
  text-align: center;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 100px;
  background-color: #252733;
  padding-top: 10px;

  .content {
    width: 960px;
    color: $light-grey;
    font-size: $medium-font;
    margin: 0 auto;

    a {
      color: $light-blue;
    }

    .first {
      @include ul-no-style;

      float: left;
    }

    .second {
      @include ul-no-style;

      float: right;
    }
  }
}