@import "common";

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.header {
  .main-menu {
    @include font-trebuchet(13px);
    @include ul-no-style;
    @include inline-li;

    float: right;
  }

  overflow: hidden;
  padding-top: 10px;
}

.system-info .panel {
  width: 940px;
  background-color: $light-blue;
  color: white;
  font-size: $medium-font;
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
  text-align: center;
}