@import "common";

.edit-user-sessions {
  .calendar-container {
    background-color: $calendar-container-color;
    height: $calendar-container-height;
    padding: 30px;
    position: relative;
  
    calendar {
      float: left;
    }

    .cloud {
      float: right;
      background-image: image-url('cloud.png');
      width: 253px;
      height: 77px;

      font-size: $medium-font;
      font-style: italic;
      color: #767676;
      padding: 40px 20px 20px 40px;
      margin-right: 30px;
    }

    .button {
      position: absolute;
      bottom: 25px;
      right: 60px;
    }
  }

  .sessions {
    @include ul-no-style;

    .session-view {
      margin: 20px auto;
      width: 830px;
      position: relative;

      .edit-buttons {
        position: absolute;
        bottom: 10px;
        right: 0px;
      }
    }

    .session-edit, .session-view form {
      position: relative;
      width: 830px;
      margin: 20px auto;

      .field {
        margin-bottom: 20px;
      }

      .start-time, .end-time {
        cursor: pointer;
      }

      .field label {
        float: left;
        width: 100px;
        display: block;
        text-align: right;

        font-size: $medium-font;
        color: $light-blue;
        text-transform: uppercase;
        margin-top: 8px;
      }

      .field textarea {
        width: auto;
      }

      .field input, .field textarea {
        border-color: #B3B3B3;
      }

      .field input.start-time, .field input.end-time {
        width: 50px;
      }

      .field .control {
        margin-left: 130px;
      }

      .field .control textarea:focus {
        outline: none;
      }

      .edit-buttons {
        position: absolute;
        bottom: 10px;
        right: 0px;
      }

    }
  }
}