@import "common";

.new_user, .edit_user {
  input[type=email] {
    background: white url('email_icon.png') no-repeat scroll $input-background-position;
  }

  input[type=text] {
    background: white url('head_icon.png') no-repeat scroll $input-background-position;
  }

  input[type=text]#user_time_zone {
    background: white no-repeat scroll $input-background-position;
  }

  input[type=text]#user_skills {
    background: white url('tools_icon.png') no-repeat scroll $input-background-position;
  }

  input[type=password]#user_password, input[type=password]#user_password_confirmation {
    background: white url('lock_icon.png') no-repeat scroll $input-background-position;
  }

  textarea {
    background: white url('head_icon.png') no-repeat scroll $input-background-position 10px;
    width: $input-width;
    resize: vertical;
  }

  input, textarea {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .left {
    width: 50%;
  }

  .right {
    width: 50%;
  }

  input[type=submit] {
    margin-top: 40px;
  }

  overflow: hidden;
  margin-top: 50px;

  .field_with_errors {
    margin-bottom: 40px;

    input {
      margin-bottom: 0px;
    }

    label {
      width: 247px;
      margin: 0 auto;
      display: block;
      font-size: $small-font;
      color: red;
      text-align: right;
    }
  }

}

//file upload button
#avatar-button {
  margin: 0 auto;
  cursor: pointer;
  display: block;
}

.avatar-name {
  color: $light-grey;
  margin: 20px auto;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-size: $small_font;
  
  height: 20px;
  width: 247px;
}

.avatar-container {
  width: 100%;
  margin: 0 auto;
}
