@import "common";

.welcome-header {
  overflow: hidden;

  blockquote {
    font-family: Georgia, serif;
    font-size: 13px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    float: right;
    width: 280px;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #767676;

    margin-right: 80px;

    &:before {
      display: block;
      content: "\201C";
      font-size: 80px;
      position: absolute;
      left: -20px;
      top: -20px;
      color: #7a7a7a;
    }
  }

  .github-banner {
    font-size: $small-font;
    float: left;
    margin: 10px 0 0 12px;

    a {
      color: black;
      text-decoration: none;
      background: image-url('octocat.png') no-repeat left;
      padding: 10px 0 10px 30px;
    }
  }
}

.latest-events {
  @include ul-no-style;


  .session-full {
    @extend .session-with-avatar;
    @extend .session-with-contact;

    .information {
      .title {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}