<div class="information">
  <p class="name">Funky super user <span>GMT-5:00 Eastern Time (US & Canada)</span></p>
  <p class="brief-information">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
  <p class="bottom-info-label"><span class="highlighted-text">technologies: </span>&nbsp Lorem Ipsum is simply dummy text of the printing and typesetting</p>
  <p class="when"><span class="icon-clock"></span> 10am - 2pm</p>
</div>